doctype html
html
  head
    title colors
    style
      include ../../public/stylesheets/style.css
  body
    #colors !{colors}

    #modal
      small#close (esc)
      h5#modal-title
      pre#modal-content
    include script
