extends layout

block flash
  if flash
    .notification(class="#{flash.type}")= flash.message

block content
  form#welcome-step-1(method="post" action="/settings" name="project-path")
    h2 #1
    label(for="project-path")
      h4 First, show me the path to your project
      input(type="text" id="project-path" name="project-path")
      br
      small.hint
        | For example: 
        code /Users/username/projects/your-super-project
      br
      button Next



  form#welcome-step-2(method="post" action="/settings" name="stylesheets-path")
    h2 #2
    label(for="stylesheets-path")
      h4 Second, show me the path to stylesheets
      input(type="text" id="stylesheets-path" name="stylesheets-path")
      br
      small.hint
        | Relative to 
        span.project-path your project path 
        | + 
        code /app/assets/stylesheets
      br
      button Next

  form#welcome-step-3(method="post" action="/settings" name="scheme-path")
    h2 #3
    label(for="scheme-path")
      h4
        | Third, show me the path to
        | 
        abbr(title="Simply the SCSS file with variable: color code list") ColorSchema
      input(type="text" id="scheme-path" name="scheme-path")
      br
      small.hint
        | Relative to 
        span.project-path your project path 
        | + 
        code /app/assets/stylesheets/shared/colors.scss
      br
      button(type="submit") Next
      br
      p.or(style="display: none")
        | Let me 
        button#generateScheme Generate
        | 
        | ColorScheme for you.
      small
        | I'll create file in root of 
        span.stylesheets-path your stylesheets path
        | with name 
        b colors.scss





