extends layout

block flash
  if flash
    .notification(class="#{flash.type}")= flash.message

block content
  form#welcome-step-1(method="post" action="/settings" name="settings")

    label(for="stylesheets-path")
      h4 Show me the path to your project's stylesheets directory
      input(type="text" id="stylesheets-path" name="stylesheets-path")
      br
      small.hint
        | For example, 
        code /Users/username/projectname/app/assets/stylesheets

      br
      button(type="submit") Next





