body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.loading {
  position: relative;
}
.loading:after {
  content: 'loading';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.85);
}

#colors {
  padding: 0;
  margin: 0;
  font-size: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: repeating-linear-gradient( 135deg, #FFF, #FFF 9px, #000 9px, #000 11px);
  background-attachment: fixed;
}

.color b,
.color i {
  pointer-events: none;
}

.color {
  font: italic 10px/1 arial;
  color: #333;
  text-align: center;
  display: flex;
  position: relative;
  border: 1px dashed transparent;
  min-width: 200px;
  height: 40px;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
  flex: auto;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.color:hover {
  transform: scale(1.05);
}

.selected {
  border-color: red;
}

.selected:after {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: red;
  border-radius: 3px;
}

#modal {
  font-size: 14px;
  display: none;
  position: fixed;
  padding: 20px;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background: rgba(250,250,250,0.95);
  overflow: auto;
  text-shadow: 0 1px 2px #fff, 0 -1px 2px #fff;
}

input[type=text] {
  width: 400px;
}

#close {
  position: absolute;
  right: 5px;
  top: 2px;
}

/*Side panerl*/
#merge {
  visibility: hidden;
}
